[MASTER]
ignore=__pycache__

[MESSAGES CONTROL]
disable=
    too-many-instance-attributes,
    too-many-branches,
    too-many-arguments,
    too-many-positional-arguments

[FORMAT]
max-line-length=120
